.App .ct {
  max-width: 600px;
  margin: 30px auto;
  margin-bottom: 0;
  color: #9c19e0;
  background-color: #fffff1;
  border-radius: 20px;
}

.App img {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App footer {
  text-align: center;
  font-size: 12px;
  margin: 10px 0;
}

.App a {
  text-decoration: none;
}
