.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 20px;
  color: rgb(135, 135, 135);
  background-color: aliceblue;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 400;
  margin: 20px 0 0 0;
  line-height: 29px;
  color: rgba(156, 26, 224, 1);
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather canvas {
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
}

.Weather input {
  border-radius: 12px;
  color: rgb(135, 135, 135);
}

.Weather .btn {
  background-color: #9c19e0;
  color: #ffffff;
  padding: 6px;
}

.Weather .temperature {
  font-weight: bold;
  color: #9c19e0;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-left: -5px;
}

.Weather .unit {
  margin-left: 0px;
  color: #9c19e0;
  vertical-align: top;
}
